<?xml version="1.0"?>
<robot name="slamkit2d_urdf" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Defining the colors used in this robot -->
  <material name="Black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>

  <material name="White">
    <color rgba="1.0 1.0 1.0 1.0"/>
  </material>

  <material name="Red">
    <color rgba="0.8 0.0 0.0 1.0"/>
  </material>

  <material name="Green">
    <color rgba="0.0 0.8 0.0 1.0"/>
  </material>

  <material name="Blue">
    <color rgba="0.0 0.0 0.8 1.0"/>
  </material>

  <!-- <link name="base_footprint"/> -->

  <!-- base_link --> <!--Actual body-->
  <link name="base_link">
    <!-- <inertial>
      <mass value="${base_mass}" />
      <origin xyz="0 0 0" />
        <box_inertia  />
    </inertial>     -->
    <visual>
      <origin xyz="0 0 1.0" rpy="0 0 0" />
      <geometry>
          <box size="0.1 0.1 0.1" />
      </geometry>
      <material name="White" />
    </visual>

    <collision>
      <origin xyz="0 0 0" rpy="0 0 0 " />
      <geometry>
          <box size="0.1 0.1 0.1" />
      </geometry>
    </collision>
  </link>

  <link name="imu_link">
      <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
	      <box size="0.05 0.05 0.02" />
      </geometry>
      <material name="Blue" />
    </visual>  
  </link>

  <link name="lidar_link">
      <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
	      <cylinder length="0.03" radius="0.025" />
      </geometry>
      <material name="Red" />
    </visual>  
  </link>
  
  <!-- <joint name="base_joint" type="fixed">
      <parent link="base_footprint"/>
      <child link="base_link" />
      <origin xyz="0 0 00.0565" rpy="0 0 0"/>
  </joint> -->

  <joint name="imu_joint" type="fixed">
    <parent link="base_link"/>
    <child link="imu_link"/>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </joint>

  <joint name="lidar_joint" type="fixed">
    <parent link="base_link"/>
    <child link="lidar_link"/>
    <origin xyz="0 0 0.05" rpy="0 0 0"/>
  </joint>

</robot>